body {
    font-family: "Roboto", sans-serif;
}

.click {
    width: 172px;
    margin: 30px;
    height: 54px;
    border: none;
    color: beige;
    background: rgba(253, 129, 10, 1);
}

.header {
    width: 690px;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 700;
}

.txt1 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-align: center;
    margin: auto;
    color: rgba(253, 129, 10, 1);
}

.txt2 {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    color: rgba(14, 14, 55, 1);
    margin: auto;
}

.txt3 {
    width: 650px;
    height: 48px;
    top: 1640px;
    left: 625px;
    color: rgba(81, 81, 81, 1);
    margin: auto;
}
.lorem{
    width: 670px;
height: 144px;
top: 2610px;
left: 975px;
font-family: Raleway;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}

.cli {
    margin: auto;
}

.container3 {
    background: rgba(14, 14, 55, 0.84);
}

.container2 {
    background: rgba(253, 129, 10, 1);
}

.logo1,
.logo2,
.logo3,
.logo4 {
    margin-top: 80px;
}

.container4 {
    height: 200px;
    position: relative;
    left: 500px;
    bottom: 110px;
    width: 805px;
    border: 5px solid white;
    background: rgba(253, 129, 10, 1);

}

.btn2 {
    width: 142px;
    height: 28px;
    top: 1976px;
    left: 1005px;
    padding: 0px, 0px, 0px, 0px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(253, 129, 10, 1);
    border: none;
}

.subcontainer1,
.subcontainer2,
.subcontainer3,
.subcontainer4 {
    padding: 30px;
    border: 0.5px solid rgba(253, 129, 10, 1);
    width: 330px;
    height: 310px;
    top: 1600px;
    left: 615px;
    margin: 10px;

}

.BC {
    width: 133px;
    color: rgba(14, 14, 55, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.container6 {
    margin: 80px;
}



.absolute1 {
    position: absolute;
    justify-content: left;
    left: 500px;

}

.absolute-container {
    position: relative;
    width: 600px;
    height: 750px;
    background-color: #515151;
}


.absolute-box1 {
    position: absolute;
    top: 350px;
    left: 250px;
    border: 3px solid hsl(150, 20%, 94%);
}


.container8{
    margin-top: 100px;
    
    
}
.section-heading{
    margin: 15%;
    width: 500px;
}
.features-text{
    width: 690px;
height: 185px;
top: 2389px;
left: 975px;

}
.absolute-container1{
    width: 422px;
height: 632px;
top: 3225px;
left: 989px;
background: rgba(81, 81, 81, 1);

}

